
html{
}
body{
    background-color: lightblue;
}

h1, h2 {
    text-align: center;
}

h1 {
    background-color: darkred;
    margin-top: 5vh;
    color: white;
}


button {
    margin-bottom: 10px;
    padding: 20px 40px;

}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

label {
    margin: 20px;
}

section {
    margin: auto;
    margin-top: 5vh;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 99, 28);
    
    padding: 0;
}

.absolute{
    display: absolute;
    
}

.flexcell {
    display: flex;
    justify-content: flex-end;
    flex-basis: 15vw;
    background-color: red;
}



.scoreNumber {
    background-color: white;
    width: 5em;
    height: 1em;
    margin-left: 0.5em;
    text-align: center;
    
}

.scorePair {
    display: flex;
}

#buttonMenuAndGridAndMessage {
    display: flex;
    justify-content: center;

}

#flexcellMenuAndRestartButtons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 35vw;
}

#flexcellMessagePanel{
    display: flex;
    justify-content: flex-start;
    flex-basis: 35vw;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 40vmin;
    height: 40vmin;
    background-color: black;
    font-size: 60px;
}

#game {
    display: none;
}

#menu {
    background-color: rgb(199, 99, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    border-radius: 10%;
    border-radius: 5px solid black;
}

#menuButton, #restartButton {
    height: 10vh;
    width: 20vw;
    
    
    margin-right: 50px;
}


#messagePanel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    min-width: 25vw;
    max-width: 30vw;
    width: fit-content;
    height: fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    background-color: grey;
    border-radius: 10%;
    margin-left: 20px;
    border: 5px solid black;
}

#messageSpan {
    background-color: white;
    min-width: 15vw;
    min-height: 5vh;
    padding:0.5em;
    margin: 1em;
    box-shadow: 5px 5px;

}

#nameInputs {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}


#scoreboard {
    margin: 5vh auto;
    background-color: grey;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px;
    border-radius: 10%;
    border: 5px solid darkred;
}